@import './base.css';
@tailwind components;
@tailwind utilities;

html,
body {
   scroll-behavior: smooth;
   -ms-overflow-style: none; /* Internet Explorer 10+ */
   scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
   display: none; /* Safari and Chrome */
}

.description {
   background-color: orange;
   clip-path: inset(100% 0 100%);
   transition: clip-path 0.4s;
}
.project:hover .description {
   clip-path: inset(0 0 0);
}
