@import './base.css';
@tailwind components;
@tailwind utilities;

html,
body {
   scroll-behavior: smooth;
   -ms-overflow-style: none; /* Internet Explorer 10+ */
   scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
   display: none; /* Safari and Chrome */
}

.modalContainer {
   height: 350px;
   width: 350px;
   /* border-radius: 100%; */

   position: absolute;
   background-color: white;
   overflow: hidden;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
}

@media (max-width: 1080px) {
   .modalContainer {
      height: 150px;
      width: 150px;
   }
}

.modalSlider {
   height: 100%;
   width: 100%;
   position: absolute;
   transition: top 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.modal {
   height: 100%;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 6px;
}

.modal img {
   height: 100%;
   width: 100%;
   object-fit: cover;
}

